

.navegacion
{	

	background-image: url(./../imagenes/Ciudad.jpg);
	background-position: 50% 70%;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	padding-bottom: 20%;
	height: 100vh;
	

}


.navbar{

	width: 100%;
	
}




.navbar > ul > li {

	list-style: none;
	display: inline;
	color: black;
	float: right;
	width: 10%;
	font-size: 18px;
	font-family: Montserrat;
	text-align: center;
	margin-right: 20px;


}





.navbar > ul{

	display: inline-block;
	width: 100%;
	margin: 0;
  	padding: 0;
  	overflow: hidden;

}



.navbar > ul > li > a:hover{

	background-color: #E6E6E6;
	transition: 0.3s ease;
	color: black;


}

.navbar > ul > li{
	float: right;
	width: 10%;
	margin-left: 1%;
}

.navbar > ul > li > a{

	display: block;
  	color: white;
  	text-align: center;
  	padding: 10px 2px;
  	text-decoration: none;
  	margin-top: 3px;

}


.titulo{
	position: relative;
	text-align: center;
	height: 30%;
	font-family: Montserrat;
	color: white;
	margin-top: 180px;


}

.buscador{
	position: absolute;
	background-color: white;
	padding: 30px 441px;
	left: 28%;
	top: 254px;


}


.formulario{

	position: relative	;
	text-align: center;
	top: 0%;

}

.formulario > input {

	padding: 1% 1%;
	box-sizing: border-box;
  	border: 2px solid black;
  	border-radius: 4px;
  	
  	width: 50%;


}


.formulario > input:focus{
	border-color: red;

}

.formulario > label {

	color: white;


}


.h1{


font-size: 50px;

}

.primera{


	padding:  3% 7% 15px 7%;
	
}

.rebajas{
	position: relative;
}



.segunda{
	
	margin-top: 20px;
	overflow: hidden;
	text-align: center;
	height: 50%;
	padding-bottom: 15px;

}

.rebajas > h1{


	font-family: sans-serif;
	color: #2e2eb8;



}

.grandesito{

	padding-top: 5%;
	padding-left: 15%;
	height: 100%;
	padding-right: 15%;

}

h3{

	font-size: 40px;

}


.filita{


margin-top: 4%;


}

.Caja1{
	
	text-align: center;
	width: 40%;
	margin-left: 10%;
	padding: 0%;
	overflow: hidden;
}

.Caja2{
	
	text-align: center;
	width: 40%;
	margin-left: 4%;
	padding: 0%;
	overflow: hidden;
}

.marco{

	position: relative;
	width: 100%;
	height: 45%;
	overflow: hidden;
}

.marco:hover > img{

	transform: scale(1.1);s	

}


.text{
	position: absolute;
	left: 2%;
	bottom: 0;
	color: white;
	font-family: rubik;
	font-size: 20px;
}


.marco2{
	margin-top: 5%;
	position: relative;
	width: 100%;
	height: 35%;
	overflow: hidden;

}



.marco2:hover > img{

	transform: scale(1.1);s


}

.marco3{

	position: relative;
	width: 95%;
	height: 83%;
	overflow: hidden;
}

.marco3:hover > img{

	transform: scale(1.1);s	

}
.img1{

	width: 100%;
	height: 100%;

 	transition: 1.5s ease;
	

}


.transition {
    -webkit-transform: scale(1.8); 
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}



.img2{
	
	width: 100%;
	height: 100%;
	transition: 2s ease;
}

.img3{

	width: 100%;
	height: 100%;
	transition: 1.5s ease;

}

.capsula{

text-align: center;
height: 8%;
border: 2px solid black;
height: 100%;
width: 28%;
margin-left: 5%;
padding: 0%;
font-weight: bolder;
font-size: 100%;
}



a{

	text-decoration: none;
}

.capsula > a >img {

width: 100%;
height: 250px;

}

.capsula > a > p {
	color: black;
	text-decoration: none;
	height: 17%;
	padding-top: 2.25%;
	padding-bottom: 2.25%;
	margin-bottom: 0%;
	font-size: 20px;

}

.capsula:hover > a > p{ 

	text-decoration: underline;
}


.Info{

	margin-top: 10%;

}

.listita > li{

	margin-top: 2%;
	font-size: 20px;
}

.final{
	
	margin-top: 10%;
	width: 100%;
	
	background-color: #1a75ff;
	
}


.colfinal{
	position: relative;
	width: 33%;
	float: left;
	height: 350px;
	text-align: center
	
}

.contacto{

	color: white; font-size: 30px; position: absolute; top: 15%; left: 8%
}

.colfinal1{
	position: relative;
	width: 33%;
	float: left;
	height: 100%;
	height: 300px
}


.formulario1{

	
	width: 100%;
	height:100%;
	padding-bottom: 130px;
}


.letrasFormulario{
	margin-top: 30px;
	font-size: 30px;
	font-weight: bold;
	color: white;
}



.input1{
	
	width: 60%;
	height: 40px;
	padding-left: 1%;
	outline: none;
}

.input2{
	
	width: 60%;
	height: 80px;
	margin-bottom: 3%;
	padding-left: 1%;
	outline: none;
}

.p2{

color: white;font-size: 30px; margin-top: 100px;

}

.madrid{
position: absolute; top: 15%; left: 40%; color: white; font-size: 40px;
	
}


.boton{
	width: 60%;
	height: 40px;
	background-color: #666666;
	border-style: groove red;
	color: white;
	font-weight: bold;
}

.icon{
	position: relative;
	color: white;
	font-size: 40px;
	margin-left: 10px ;

}

.icon1{
	
	color: white;
	font-size: 25px;
	position: absolute;
	top: 35%;
	left: 9%;

}

.letrasmovil{color: white;position: absolute;top: 35%; left: 18%; font-size: 20px}

.email{color: white;position: absolute;top: 45%; left: 18%; font-size: 20px}

.icon2{
	
color: white; font-size: 25px; position: absolute; top: 45%; left: 8%

}


.clearer{
	clear: both;
}


.mapita{
width: 435px; height: 330px; margin-top: 30px;

}

.mapa{

	width: 50%;
	
	padding: 10px 10px 10px 10px;
	float: right;
	margin-right: 95px;
}

